<div class="row pad-bot-lg">
  <div class="col-md-6 col-lg-6 col-xs-12 hidden-xs col-sm-6">
    <div class="input-group" style="padding-top:2px">
      <div class="input-append">
        <%= form_tag(tournaments_path, :method => "get", class: "navbar-form", id: "search-form") do %>
        <%= hidden_field_tag :sort_option, :search %>
        <%= text_field_tag :search, params[:search], class: "form-control btn-border", placeholder: "Search Items" %>
        <span class="input-group-btn ">
          <button class="btn btn-warning btn-border" type="submit">&nbsp;search&nbsp;</button>
        </span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-6 col-sm-6">
    <div class="btn pull-right">
      <div class="btn-group">
        <button type="button" class="btn btn-warning btn-border dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <% case params[:game_id] %>
          <% when "1" %>
            Dota 2
          <% when "2" %>
            LoL
          <% when "3" %>
            SCII
          <% when "4" %>
            HoN
          <% when "5" %>
            CS:GO
          <% when "6" %>
            Hearthstone
          <% when "7" %>
            WoW
          <% when "8" %>
            SMITE
          <% when "9" %>
            HotS
          <% when "10" %>
            Smash
          <% when "11" %>
            CoD
          <% else %>
            Games
        <% end %>

          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <% @games.each do |game| %>
          <li><%= link_to game.title, tournaments_path(sort_option: "game", game_id: game.id) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="btn-group btn pull-right" role="group" aria-label="...">
      <%= link_to "Year", tournaments_path(sort_option: "year"), class: "btn btn-border btn-warning" %>
      <%= link_to "Month", tournaments_path(sort_option: "month"), class: "btn btn-border btn-warning" %>
      <%= link_to "Week", tournaments_path(sort_option: "week"), class: "btn btn-border btn-warning" %>
      <%= link_to "Day", tournaments_path(sort_option: "day"), class: "btn btn-border btn-warning" %>
    </div>
  </div>
</div>

<div class="container special">
  <div id="my-tournaments">
    <%= render @tournaments %>
  </div>
  <div id="infinite-scrolling">
    <%= will_paginate %>
  </div>
</div>

<script>
  $('img').hover(function () {
    var imageId = $(this).attr("id")
    $("#" + imageId + "-default-index-text").stop().fadeOut(200, function () {
      $("#" + imageId + "-hover-index-text").stop().fadeIn(400);
    });
  }, function () {
    var imageId = $(this).attr("id")
    $("#" + imageId + "-hover-index-text").stop().fadeOut(400, function () {
      $("#" + imageId + "-default-index-text").stop().fadeIn(600);
    });
  });
</script>
