<h1>Tournaments</h1><br>

<div class="row">
  <% @tournaments.each do |tournament| %>
  <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
    <a href="/tournaments/<%=tournament.id%>" class="thumbnail"><img src="http://goo.gl/JrWrnz">
    </a>
    <h4>
      <a href="#"><%= tournament.name%></a>
    </h4>
    <p>Description</p>
  </div>
  <% end %>
</div>

<br><hr><br>

<%= month_calendar events: @tournaments do |date, tournaments| %>
<%= date %>

<% tournaments.each do |tournament| %>
<div>
  <%= tournament.name %>
</div>
<% end %>
<% end %>
