<h1>Tournaments</h1><br>



<div class="row">
  <div class="col-md-12">

    <div class="btn pull-right">
       <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"> Game <span class="caret"></span>
    </button>
    </div>
    <div class="btn-group btn pull-right" role="group" aria-label="...">
    <%= link_to "Year", tournaments_path(sort_option: "year"), class: "btn btn-default" %>
    <%= link_to "Month", tournaments_path(sort_option: "month"), class: "btn btn-default" %>
    <%= link_to "Week", tournaments_path(sort_option: "week"), class: "btn btn-default" %>
    <%= link_to "Day", tournaments_path(sort_option: "day"), class: "btn btn-default" %>
    </div>
  </div>
</div>
<br>


<div id="div1">
<div class="row">
  <% @tournaments.each do |tournament| %>
  <% if tournament.start_date == DateTime.now.to_date || tournament.end_date = (DateTime.now).to_date %>
  <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
  <% else %>
  <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
  <% end %>
  <% if tournament.image %>
    <a href="/tournaments/<%=tournament.id%>" class="thumbnail"><img src="<%= tournament.image %>"></a>
  <% else %>
    <a href="/tournaments/<%=tournament.id%>" class="thumbnail"><img src="http://sisj.in/wp-content/uploads/2015/11/480px-Placeholder-480x270.png"></a>
  <% end %>
    <div class="info">
    <h4>
      <a href="#"><%= tournament.name%></a>
    </h4>
    <p><%= tournament.start_date %> – <%= tournament.end_date %></p>
  </div>
  </div>
  <% end %>
</div>

</div>
<div id="div2">
<div class="row">
  <div class="col-md-12">
<div id="events_calendar">
  <%= render partial: "/events/calendar", locals: {events: @tournaments} %>
</div>
</div>
</div>
<br>
</div>