<div class="row" style="padding-bottom:15px">

  <div class="col-md-6 col-lg-6 col-xs-12 hidden-xs col-sm-6">

    <div class="input-group" style="padding-top:2px">
      <%= form_tag(tournaments_path, :method => "get", class: "navbar-form", id: "search-form") do %>
      <div class="input-append">
      <%= text_field_tag :search, params[:search], class: "form-control span2 btn-border", placeholder: "Search Items" %>
      <span class="input-group-btn "><button class="btn btn-warning btn-border" type="submit">Go!</button></span>
      <% end %>
      </div>
    </div>

  </div>

  <div class="col-md-6 col-lg-6 col-sm-6">
    <div class="btn pull-right">
     <button class="btn btn-warning btn-border dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"> Game <span class="caret"></span></button>
    </div>

    <div class="btn-group btn pull-right" role="group" aria-label="...">
    <%= link_to "Year", tournaments_path(sort_option: "year"), class: "btn btn-border btn-warning" %>
    <%= link_to "Month", tournaments_path(sort_option: "month"), class: "btn btn-border btn-warning" %>
    <%= link_to "Week", tournaments_path(sort_option: "week"), class: "btn btn-border btn-warning" %>
    <%= link_to "Day", tournaments_path(sort_option: "day"), class: "btn btn-border btn-warning" %>
    </div>

  </div>

</div>




<div class="row">

  <% @tournaments.each do |tournament| %>


  <% if tournament.is_live? %>
  <div class="col-md-12 col-sm-12 col-xs-12 portfolio-item">
  <% else %>
  <div class="col-md-4 col-sm-6 col-lg-3 col-xs-12 portfolio-item">
  <% end %>

  <% if tournament.image && tournament.is_live? %>
    <a href="/tournaments/<%=tournament.id%>" class="thumbnail" style=>
      <img class="hidden-xs grayscale" id="<%= tournament.id %>" src="<%= tournament.large %>">
      <img class="hidden-lg hidden-sm hidden-md grayscale" style="width:100%" src="<%= tournament.image %>">
    </a>

  <% elsif tournament.image %>
    <a href="/tournaments/<%=tournament.id%>" class="thumbnail"><img class="grayscale" src="<%= tournament.image %>"></a>
  <% else %>
    <a href="/tournaments/<%=tournament.id%>" class="thumbnail"><img class="grayscale" src="http://sisj.in/wp-content/uploads/2015/11/480px-Placeholder-480x270.png"></a>
  <% end %>

  <div class="info" id="<%= tournament.id %>">
    <div id="<%= tournament.id %>">
    <% if tournament.is_live? %>
    <span class="titling"><span class="label label-success">Live</span>&nbsp;<%= tournament.name%></span>
    <% else %>
    <span class="titling"><%= tournament.short_title%></span>
    <% end %>
      <br><span><%= tournament.city %> – <%= tournament.start_date %> </span>
      <span class="hidden infohidden" maxlength="10"> <%= tournament.description %> </span>
      </p>
    </div>
  </div>
  </div>
  <% end %>

</div>






<br><br>

<ul>
<li data-id="firstdiv">First div</li>
<li data-id="seconddiv">Second div</li>
<li data-id="thirddiv">Third div</li>
</ul>

<div id="firstdiv">Content Here</div>
<div id="seconddiv">Content Here</div>
<div id="thirddiv">Content Here</div>

<script>
// This is image

// $('img').hover(function() {
// console.log(this.id)
// // this is info
//   $(".info span").toggle();
// });
$('ul li').on({
    'mouseenter':function(){
        $('#'+$(this).data('id')).fadeIn();
    },'mouseleave':function(){
        $('#'+$(this).data('id')).fadeOut();
    }
});
</script>

<script>
function toggler(divId) {
    $("#" + divId).toggle();
}
</script>


