<div class="row">
  <div class="col-md-8 col-sm-12">
    <h1><%= @tournament.name %></h1>
  </div>

  <div class="col-md-4 col-sm-12">
    <span id="clockdiv" class="pull-right">
      <h1>
        <span class="days "></span> days /
        <span class="hours"></span> :
        <span class="minutes"></span> :
        <span class="seconds"></span>
      </h1>
    </span>
  </div>
</div>

<div class="row">
  <div class="col-md-12 portfolio-item">
    <a href="#" class=" image_container thumbnail"><img src="<%= @tournament.large %>">
      <button type="button" class="buttonz btn btn-default" aria-label="Left Align">Follow</button>
      <button type="button" class="buttony btn btn-default" aria-label="Left Align">Subscribe</button>
    </a>
  </div>
</div>

<div class="row">

  <div class="col-md-6">
    <% if @tournament.competitors.empty? %>
      <p> Competitor list soon </p>
    <% else %>
      <% @tournament.competitors.each do |competitor| %>
        <%= competitor.name %><br>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-6">
    <% if @tournament.streams %>
      <% @tournament.streams.each do |tournament_stream| %>
        <a href="<%=tournament_stream.link %>"> <%= @tournament.name %> </a>
      <% end %>
    <% else %>
        <p>no stream</p>
    <% end %>
  </div>
</div>

<!-- Use assets for this script asap -->

<% t = @tournament.start_date.to_s  %>
<% t.gsub!(" UTC", "") %>
<% parsable = t.gsub!(" ", "T") %>
<%= parsable %>

<script>
$(document).ready(function(){
  getTimeRemaining(deadline);
  initializeClock('clockdiv', deadline);
});


var deadline = "<%= parsable %>";

function getTimeRemaining(endtime){
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor( (t/1000) % 60 );
  var minutes = Math.floor( (t/1000/60) % 60 );
  var hours = Math.floor( (t/(1000*60*60)) % 24 );
  var days = Math.floor( t/(1000*60*60*24) );
  return {
    'total': t,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

function initializeClock(id, endtime){
  var clock = document.getElementById(id);
  var daysSpan = clock.querySelector('.days');
  var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');


  function updateClock(){
    var t = getTimeRemaining(endtime);

    daysSpan.innerHTML = ('0' + t.days).slice(-2);
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if(t.total<=0){
      clearInterval(timeinterval);
    }
  }

updateClock(); // run function once at first to avoid delay
var timeinterval = setInterval(updateClock,1000);

}
</script>