<!-- Timer -->
<% t = @tournament.start.to_s  %>
<% t.gsub!(" UTC", "") %>
<% parsable = t.gsub!(" ", "T") %>
<script>var deadline = "<%= parsable %>";</script>


<div class="row pad-bot-sm">

  <div class="col-md-12 col-sm-12">
    <div class="row">
      <div class="col-md-6 col-sm-6 h1"><%= @tournament.short_title %></div>
       <div class="col-md-6 col-sm-6 h1 grey text-right">
        <span id="clockdiv">
          <span class="days text-right"></span> <span class="hours"></span><span class="minutes"></span><span class="seconds"></span>
        </span>
      </div>
    </div>
  </div>
</div>

<% javascript_include_tag "timer" %>

<div class="row">
  <div class="col-md-12">
    <div class="portfolio-item thumbnail">

      <% if @tournament.image_default %>
        <img class="hidden-xs" src="<%= @tournament.image_large %>">
        <img class="hidden-lg hidden-sm hidden-md" src="<%= @tournament.image_default %>">
      <% else %>
        <img class="grayscale base-prop" src="http://goo.gl/7ezbJB">
      <% end %>

      <% if user_signed_in? %>
        <% favorite_params = {favorite: {user_id: current_user.id, favoritable_id: @tournament.id, favoritable_type: "Tournament"}} %>

        <% if current_user.favorites.where(favoritable_id: @tournament.id).any? %>
          <%= button_to favorite_path(favorite_params), method: "delete", class: "buttonz btn btn-border white btn-default", 'aria-label' => "Left Align", disabled: !user_signed_in? do %>
          <i class="fa fa-heart"></i> Unfollow
          <% end %>
        <% else %>
          <%= button_to favorites_path(favorite_params), action: "create", class: "buttonz btn btn-border white btn-default", 'aria-label' => "Left Align", disabled: !user_signed_in? do %>
          <i class="fa fa-heart"></i> Follow
          <% end %>
        <% end %>

        <%= button_to subscriptions_path(favorite_params), action: "create", class: "buttony btn btn-border white btn-default", 'aria-label' => "Left Align", disabled: !user_signed_in? do %>
          <i class="fa fa-calendar-plus-o"></i> Subscribe
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<div class="row infoplus">
  <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
    <div class="hidden-sm hidden-xs" style="border-right:1px solid black"></div>
      <section class="pad-bot-sm">
        <span class="h2"><%= @tournament.title %></span>
      </section>
      <section>
        <p>  <b>Location: <%= @tournament.city %></b> – <%= @tournament.description.gsub(/(&nbsp;)/, ' ') %></p>
      </section>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
    <% if @tournament.streams.any? %>
      <% @tournament.streams.each do |stream| %>
      <section class="pad-bot-sm">
        <span class="h2"><i class="fa pale-grey fa-video-camera"></i> <%= link_to "Stream", stream.url %>

          <span class="light-text pull-right"><%= @tournament.favorites.count %> followers</span>
        </span>

      </section>
      <% end %>
    <% else %>
      <section>
        <p>Stream list soon</p>
      </section>
    <% end %>
    <p class="mon"><b>Starts on <%= Date::MONTHNAMES[@tournament.start.mon] %><i class="day date"> <%= @tournament.start.day %></b></i>. Competitors to follow:</p>

    <section>
      <% @tournament.competitors.each do |competitor| %>
        <% if user_signed_in? %>
          <% favorite_params = {favorite: {user_id: current_user.id, favoritable_id: competitor.id, favoritable_type: "Competitor"}} %>
        <% end %>
        <%= button_to competitor.name, favorites_path(favorite_params), action: "create", class: "btn-competitor btn btn-xs btn-default", disabled: !user_signed_in? %>
      <% end %>
    </section>

  </div>

</div>




<script>
$(document).ready(function(){
  console.log(deadline)
  getTimeRemaining(deadline);
  initializeClock('clockdiv', deadline);
});

var deadline = deadline;

function getTimeRemaining(endtime){
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor( (t/1000) % 60 );
  var minutes = Math.floor( (t/1000/60) % 60 );
  var hours = Math.floor( (t/(1000*60*60)) % 24 );
  var days = Math.floor( t/(1000*60*60*24) );

  if (days > -1 ) {
      return {
      'total': t,
      'days': days,
      'hours': hours,
      'minutes': minutes,
      'seconds': seconds
    };
  }
}

function initializeClock(id, endtime){
  var clock = document.getElementById(id);
  var daysSpan = clock.querySelector('.days');
  var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');


  function updateClock(){
    var t = getTimeRemaining(endtime);

    daysSpan.innerHTML = ('0' + t.days).slice(-2) + ' days';
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2) + ':';
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2) + ':';
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2) ;

    if(t.total<=0){
      clearInterval(timeinterval);
    }
  }

updateClock(); // run function once at first to avoid delay
  var timeinterval = setInterval(updateClock,1000);
}

</script>
