<!-- Timer -->
<% t = @tournament.start_date.to_s  %>
<% t.gsub!(" UTC", "") %>
<% parsable = t.gsub!(" ", "T") %>
<script>var deadline = "<%= parsable %>";</script>

<div class="row">
  <div class="col-md-8 col-sm-12">
    <h1><%= @tournament.name %></h1>
  </div>

  <div class="col-md-4 col-sm-12">
    <span id="clockdiv" class="pull-right">
      <h1>
        <span class="days "></span> days /
        <span class="hours"></span> :
        <span class="minutes"></span> :
        <span class="seconds"></span>
      </h1>
    </span>
  </div>
</div>

<% javascript_include_tag "timer" %>

<div class="row">
  <div class="col-md-12 portfolio-item">
    <a href="#" class=" image_container thumbnail"><img src="<%= @tournament.large %>">
      <button type="button" class="btn btn-warning btn-border" aria-label="Left Align"><i class="fa fa-heart"></i> Follow</button>
      <%= form_tag(subscribes_path, :method => "post") do %>
      <button class="fa fa-calendar-plus-o btn btn-warning btn-border" type="submit">Subscribe!</button>
      <% end %>
    </a>
  </div>
</div>


<div class="row">

  <div class="col-md-6">
    <% if @tournament.competitors.empty? %>
      <p> Competitor list soon </p>
    <% else %>
      <% @tournament.competitors.each do |competitor| %>
        <%= competitor.name %><br>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-6">
    <% if @tournament.streams %>
      <% @tournament.streams.each do |tournament_stream| %>
        <a href="<%=tournament_stream.link %>"> <%= @tournament.name %> </a>
      <% end %>
    <% else %>
        <p>no stream</p>
    <% end %>
  </div>
</div>



