<!-- Timer -->
<% if current_user %>
<% t = @tournament.start.to_s  %>
<% t.gsub!(" UTC", "") %>
<% parsable = t.gsub!(" ", "T") %>
<script>var deadline = "<%= parsable %>";</script>


<div class="row" style="padding-bottom:5px">

  <div class="col-md-12 col-sm-12">
    <div class="row">
      <div class="col-md-6 col-sm-6 h1"><%= @tournament.short_title %></div>
       <div class="col-md-6 col-sm-6 h1 grey text-right">
        <span id="clockdiv">
          <span class="days text-right"></span> <span class="hours"></span><span class="minutes"></span><span class="seconds"></span>
        </span>
      </div>
    </div>
  </div>
</div>

<% javascript_include_tag "timer" %>

<div class="row">
  <div class="col-md-12">
    <div class="portfolio-item thumbnail">
      <% if @tournament.image_default %>
      <img class="hidden-xs" src="<%= @tournament.image_large %>">
      <img class="hidden-lg hidden-sm hidden-md" src="<%= @tournament.image_default %>">
      <% else %>
      <img class="grayscale" style="max-height:200px; width:100%" src="http://goo.gl/7ezbJB">
      <% end %>

      <% favorite_params = {favorite: {user_id: current_user.id, favoritable_id: @tournament.id, favoritable_type: "Tournament"}} %>
      <%= button_to favorites_path(favorite_params), action: "create", class: "buttonz btn btn-border white btn-default", 'aria-label' => "Left Align" do %>
      <i class="fa fa-heart"></i> Follow
      <% end %>
      <%= button_to subscriptions_path(favorite_params), action: "create", class: "buttony btn btn-border white btn-default", 'aria-label' => "Left Align" do %>

    </a>

      <%#= button_to favorites_path(favorite_params), action: "create", class: "buttony btn btn-default", 'aria-label' => "Left Align" do %>
      <i class="fa fa-calendar-plus-o"></i> Subscribe
      <% end %>
    </div>

  </div>
</div>
<div class="row infoplus">
  <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
    <div class="hidden-sm hidden-xs" style="border-right:1px solid black"></div>
      <section style="padding-bottom:10px">
        <span class="h2"><%= @tournament.title %></span>
      </section>
      <section>
        <p>  <b>Location: <%= @tournament.city %></b> – <%= @tournament.description.gsub(/(&nbsp;)/, ' ') %></p>
      </section>
    </div>


    <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
    <% if @tournament.streams.any? %>
      <% @tournament.streams.each do |stream| %>
      <section style="padding-bottom:10px">
        <span class="h2"><i class="fa red fa-video-camera"></i> <%= link_to "Stream", stream.url %>

                   <span class="mon date"><%= Date::MONTHNAMES[@tournament.start.mon] %></span>
          <span class="day date"><%= @tournament.start.day %></span>
          <div class="bdr1"></div>
          <div class="bdr2"></div>




        </span>
      </section>
      <% end %>
    <% else %>
    <section>
      <p>Stream list soon</p>
    </section>
    <% end %>
    <section>

      <% @tournament.competitors.each do |competitor| %>
      <% favorite_params = {favorite: {user_id: current_user.id, favoritable_id: competitor.id, favoritable_type: "Competitor"}} %>
      <%= button_to competitor.name, favorites_path(favorite_params), action: "create", class: "btn-competitor btn btn-xs btn-default" %>
      <% end %>

    </section>

    </div>



   </div>

<% end %>

