<!-- Timer -->
<% t = @tournament.start_date.to_s  %>
<% t.gsub!(" UTC", "") %>
<% parsable = t.gsub!(" ", "T") %>
<script>var deadline = "<%= parsable %>";</script>


<div class="row" style="padding-bottom:5px">

  <div class="col-md-12 col-sm-12">
    <div class="row">
      <div class="col-md-6 col-sm-6 h1"><%= @tournament.short_title %></div>
       <div class="col-md-6 col-sm-6 h1 grey text-right">
        <span id="clockdiv">
          <span class="days text-right"></span> <span class="hours"></span><span class="minutes"></span><span class="seconds"></span>
        </span>
      </div>
    </div>
  </div>
</div>

<% javascript_include_tag "timer" %>

<div class="row">
  <div class="col-md-12">
    <div class="portfolio-item thumbnail">
      <% if @tournament.image %>
      <img class="hidden-xs" src="<%= @tournament.large %>">
      <img class="hidden-lg hidden-sm hidden-md" src="<%= @tournament.image %>">
      <% else %>
      <img class="grayscale" style="max-height:200px; width:100%" src="http://goo.gl/7ezbJB">
      <% end %>

      <% if current_user %>
      <% favorite_params = {favorite: {user_id: current_user.id, favoritable_id: @tournament.id, favoritable_type: "Tournament"}} %>
      <% end %>
      <%= button_to favorites_path(favorite_params), action: "create", class: "buttonz btn btn-border white btn-default", 'aria-label' => "Left Align", disabled: !current_user do %>
      <i class="fa fa-heart"></i> Follow
      <% end %>
      <%= button_to subscriptions_path(favorite_params), action: "create", class: "buttony btn btn-border white btn-default", 'aria-label' => "Left Align", disabled: !current_user do %>

    </a>

      <%#= button_to favorites_path(favorite_params), action: "create", class: "buttony btn btn-default", 'aria-label' => "Left Align" do %>
      <i class="fa fa-calendar-plus-o"></i> Subscribe
      <% end %>
    </div>

  </div>
</div>
<div class="row infoplus">
  <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
    <div class="hidden-sm hidden-xs" style="border-right:1px solid black"></div>
      <section style="padding-bottom:10px">
        <span class="h2"><%= @tournament.name %></span>
      </section>
      <section>
        <p>  <b>Location: <%= @tournament.city %></b> – <%= @tournament.description.gsub(/(&nbsp;)/, ' ') %></p>
      </section>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
    <% if @tournament.streams.any? %>
      <% @tournament.streams.each do |stream| %>
      <section style="padding-bottom:10px">
        <span class="h2"><i class="fa coolblue fa-video-camera"></i> <%= link_to "Stream", stream.link %>

          <span class="mon date"><%= Date::MONTHNAMES[@tournament.start_date.mon] %></span>
          <span class="day date"><%= @tournament.start_date.day %></span>
          <div class="bdr1"></div>
          <div class="bdr2"></div>

        </span>
      </section>
      <% end %>
    <% else %>
    <section>
      <p>Stream list soon</p>
    </section>
    <% end %>
    <section>

      <% @tournament.competitors.each do |competitor| %>
      <% if current_user %>
      <% favorite_params = {favorite: {user_id: current_user.id, favoritable_id: competitor.id, favoritable_type: "Competitor"}} %>
      <% end %>
      <%= button_to competitor.name, favorites_path(favorite_params), action: "create", class: "btn-competitor btn btn-xs btn-default", disabled: !current_user %>
      <% end %>

    </section>

    </div>



   </div>


<% end %>

<script>
$(document).ready(function(){
  console.log(deadline)
  getTimeRemaining(deadline);
  initializeClock('clockdiv', deadline);
});

var deadline = deadline;

function getTimeRemaining(endtime){
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor( (t/1000) % 60 );
  var minutes = Math.floor( (t/1000/60) % 60 );
  var hours = Math.floor( (t/(1000*60*60)) % 24 );
  var days = Math.floor( t/(1000*60*60*24) );

  if (days > -1 ) {
      return {
      'total': t,
      'days': days,
      'hours': hours,
      'minutes': minutes,
      'seconds': seconds
    };
  }
}

function initializeClock(id, endtime){
  var clock = document.getElementById(id);
  var daysSpan = clock.querySelector('.days');
  var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');


  function updateClock(){
    var t = getTimeRemaining(endtime);

    daysSpan.innerHTML = ('0' + t.days).slice(-2) + ' days';
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2) + ':';
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2) + ':';
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2) ;

    if(t.total<=0){
      clearInterval(timeinterval);
    }
  }

updateClock(); // run function once at first to avoid delay
var timeinterval = setInterval(updateClock,1000);

}


</script>
