<!-- Timer -->
<% t = @tournament.start_date.to_s  %>
<% t.gsub!(" UTC", "") %>
<% parsable = t.gsub!(" ", "T") %>
<script>var deadline = "<%= parsable %>";</script>

<div class="row">
  <div class="col-md-8 col-sm-12">
    <h1><%= @tournament.name %></h1>
  </div>

  <div class="col-md-4 col-sm-12">
    <span id="clockdiv" class="pull-right">
      <h1>
        <span class="days "></span> days /
        <span class="hours"></span> :
        <span class="minutes"></span> :
        <span class="seconds"></span>
      </h1>
    </span>
  </div>
</div>

<% javascript_include_tag "timer" %>

<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js"></script> 

<div class="row">
  <div class="col-md-12 portfolio-item">
    <a href="#" class=" image_container thumbnail"><img src="<%= @tournament.large %>">
      <% favorite_params = {favorite: {user_id: current_user.id, favoritable_id: @tournament.id, favoritable_type: "Tournament"}} %>
      <%= button_to favorites_path(favorite_params), action: "create", class: "buttonz btn btn-default", 'aria-label' => "Left Align" do %>
        <i class="fa fa-heart"></i> Follow
      <% end %>

      <div title="Add to Calendar" class="addeventatc">
          Add to Calendar
          <span class="start"><%= @tournament.start_date %></span>
          <span class="end"><%= @tournament.end_date %></span>
          <span class="timezone">America/Tijuana</span>
          <span class="title"><%= @tournament.name %></span>
          <span class="description"><%= @tournament.description %></span>
          <span class="location"><%= @tournament.city %></span>
          <span class="date_format">MM/DD/YYYY</span>
      </div> 

    </a>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <% list_competitor_names_for(@tournament).each do |competitor| %>
      <p><%= competitor %></p><br>
    <% end %>
  </div>

  <div class="col-md-6">
    <% if @tournament.streams.any? %>
      <% @tournament.streams.each do |stream| %>
        <%= link_to @tournament.name, stream.link %>
      <% end %>
    <% else %>
      <p>Stream list soon</p>
    <% end %>
  </div>
</div>



