<!DOCTYPE html>
<html>
<head>
  <title>ESportal</title>
  <script src="https://code.jquery.com/jquery-git2.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Grid</a></li>
        <li><a href="#">Calendar</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <%= yield %>
</div>

<%= link_to "log in", new_user_session_path, class: "btn btn-primary" %>
<%= yield %>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</body>
</html>
