<!DOCTYPE html>
<html>
<head>
  <title>ESportal</title>
  <script src="https://code.jquery.com/jquery-git2.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/tournaments">
        <%= image_tag("esportal.png", :alt => "rss feed") %>
        </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_page_is_tournament? || current_page_is_calendar? %>
        <li><a href="/tournaments"><i class="fa fa-th"></i></a></li>
        <li><a href="/calendar"><i class="fa fa-calendar-o"></i></a></li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to('Log out', destroy_user_session_path, :method => :delete, :class => 'pull-right') %></li>
        <% else %>
          <li><%= link_to('log in', user_omniauth_authorize_path(:google_oauth2), :class => 'pull-right') %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <%= yield %>
</div>

<div id="footer">
    <div class="container">
      <p class="footer-block">Make a cool footer with a bunch of useless infos
        <span class="notice"><%= notice %></span>
        <span class="alert"><%= alert %></span></p>
    </div>
  </div>
</body>
</html>
